<!-- Modal -->
<div class="modal" id="modalRepFeedback" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Gửi nội dung trả lời</h4>
            </div>
            <div class="modal-body">
                <!--Form nhập-->
                <form role="form" id="formFeedbackData">
                    <h5>Viết câu trả lời về cho người đóng góp</h5>

                    <div class="form-group">
                        <label for="txtContent" class="control-label">Nội dung:</label>
                        <textarea class="form-control" id="txtContent" name="txtContent" placeholder="Bắt buộc"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="btnSendReply">Trả lời</button>
                <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>


