<section class="info">
    <h2 class="text-center">Our Info</h2>
    <p class="text-center">Chúng tôi là những người lên ý tưởng và thực hiện ý tưởng này</p>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 info-w3l">
                <ul class="ch-grid">
                    <li>
                        <div class="ch-item ch-img-3">
                            <div class="ch-info-wrap">
                                <div class="ch-info">
                                    <div class="ch-info-front ch-img-3"></div>
                                    <div class="ch-info-backnew1">
                                        <h4>Người sáng tác</h4>
                                        <p class="info-w3lsagile">Related Info</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <h3>Lorem Ipsum</h3>
                <p class="info-agile">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 info-w3l">
                <ul class="ch-grid">
                    <li>
                        <div class="ch-item ch-img-4">
                            <div class="ch-info-wrap">
                                <div class="ch-info">
                                    <div class="ch-info-front ch-img-4"></div>
                                    <div class="ch-info-backnew2">
                                        <h4>Lorem Ipsum</h4>
                                        <p class="info-w3lsagile">Related Info</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <h3>Lorem Ipsum</h3>
                <p class="info-agile">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
            </div>
        </div>
    </div>
</section>
