
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{
    Trang chủ Admin
}


<h3>User Manager:</h3>
<a href="/Admin/User/Index">Manage User</a>
<a href="/Admin/User/Create">Create User</a>
<a href="/Admin/User/Logout">Log out</a>
<div class="collapse-divider"></div>
<h3>Post Manage:</h3>
<a href="/Admin/Post/Index">Table Post</a>
<a href="/Admin/Post/Create">Create Post</a>

<h3>Comment Manage:</h3>
<a href="/Admin/Comment/Index">Table Comment</a>
<a href="/Admin/UserComment/Index">Table UserComment</a>
<h3>Relation Post-Tag Manage:</h3>
<a href="/Admin/PostTag/Index">Table Post-Tag</a>
<a href="/Admin/postTag/Create">Create Post-Tag</a>
<h3>Category Manage:</h3>
<a href="/Admin/Category/Index">Table Category</a>
<a href="/Admin/Category/Create">Create Category</a>
 <h3>Tag Manage: </h3>
<a href="/Admin/Tag/Index">Table Tag</a>
<a href="/Admin/Tag/Create">Create Tag</a>
 <h3>Menu Manage: </h3>
<a href="/Admin/Menu/Index">Table Menu</a>
<a href="/Admin/Menu/Create">Create Menu</a>
 <h3>Slide Manage: </h3>
<a href="/Admin/Slide/Index">Table Slide</a>
<a href="/Admin/Slide/Create">Create Slide</a>
 <h3>Feedback Manage: </h3>
<a href="/Admin/Feedback/Index">Feedback Table</a>
 <h3>Contact Manage: </h3>
<a href="/Admin/Contact/Index">Contact Table</a>
<a href="/Admin/Contact/Create">Create Contact</a>
 <h3>footer Manage: </h3>
<a href="/Admin/Footer/Index">Footer Table</a>
<a href="/Admin/Footer/Create">Create Footer</a>

 <h3>Orther Manage: </h3>
<a href="/Admin/User/ErrorPage">404 Page</a>

<a href="/">Customer Page</a>