
<!-- Modal -->
<div class="modal fade" id="modalAddComment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Bình luận</h4>
            </div>
            <div class="modal-body">
                <!--Form nhập-->
                <form role="form" id="formCommentData">
                    <h5>Thông tin về Email, Website của bạn sẽ được bảo mật.</h5>

                    <div class="form-group">
                        <label for="txtName" class="control-label">Tên:</label>
                        <input type="text" class="form-control" name="txtName" id="txtName" placeholder="Bắt buộc">
                        <input type="hidden" id="PostId" value="@Page.PostID" />
                    </div>
                    <div class="form-group">
                        <label for="txtEmail" class="control-label">Email:</label>
                        <input type="email" class="form-control" name="txtEmail"  id="txtEmail"  placeholder="Bắt buộc">
                    </div>
                    <div class="form-group">
                        <label for="txtWebsite" class="control-label">Website</label>
                        <input type="text" class="form-control" name="txtWebsite" id="txtWebsite">
                    </div>
                    <div class="form-group">
                        <label for="txtContent" class="control-label">Nội dung:</label>
                        <textarea class="form-control" id="txtContent" name="txtContent"  placeholder="Bắt buộc"></textarea>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" id="ckStatus" />Chấp nhận thông báo bình luận về Email đã cung cấp</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="btnSendComment">Bình luận</button>
                <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Đóng</button>
                
            </div>
        </div>
    </div>
</div>

