<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blank page</title>
    <!-- Custom fonts for this template-->
    
    <link href="/assets/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->

 
    <link href="/assets/admin/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/assets/admin/css/AdminMyStyle.css" rel="stylesheet" />
    
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Admin/Home/Index">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Manage Page <sup>MyBlog</sup></div>
            </a>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Trang dành cho khách</span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>
            <!-- Nav Item - Pages Collapse Menu -->
            
            <!-- Nav Item - Utilities Collapse Menu -->
           
            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item active">
                <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Manager Pages</span>
                </a>
                <div id="collapsePages" class="collapse show" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">User Manager:</h6>
                        <a class="collapse-item" href="/Admin/User/Index">Manage User</a>
                        <a class="collapse-item" href="/Admin/User/Create">Create User</a>
                        <a class="collapse-item" href="/Admin/User/Logout">Log out</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Post Manage:</h6>
                        <a class="collapse-item " href="/Admin/Post/Index">Table Post</a>
                        <a class="collapse-item " href="/Admin/Post/Create">Create Post</a>
                        <h6 class="collapse-header">Comment Manage:</h6>
                        <a class="collapse-item " href="/Admin/Comment/Index">Table Comment</a>
                        <a class="collapse-item " href="/Admin/UserComment/Index">Table UserComment</a>
                        <h6 class="collapse-header">Relation Post-Tag Manage:</h6>
                        <a class="collapse-item " href="/Admin/PostTag/Index">Table Post-Tag</a>
                        <a class="collapse-item " href="/Admin/postTag/Create">Create Post-Tag</a>
                        <h6 class="collapse-header">Category Manage:</h6>
                        <a class="collapse-item " href="/Admin/Category/Index">Table Category</a>
                        <a class="collapse-item " href="/Admin/Category/Create">Create Category</a>
                        <h6 class="collapse-header">Tag Manage:</h6>
                        <a class="collapse-item " href="/Admin/Tag/Index">Table Tag</a>
                        <a class="collapse-item " href="/Admin/Tag/Create">Create Tag</a>
                        <h6 class="collapse-header">Menu Manage:</h6>
                        <a class="collapse-item " href="/Admin/Menu/Index">Table Menu</a>
                        <a class="collapse-item " href="/Admin/Menu/Create">Create Menu</a>
                        <h6 class="collapse-header">Slide Manage:</h6>
                        <a class="collapse-item " href="/Admin/Slide/Index">Table Slide</a>
                        <a class="collapse-item " href="/Admin/Slide/Create">Create Slide</a>
                        <h6 class="collapse-header">Feedback Manage:</h6>
                        <a class="collapse-item" href="/Admin/Feedback/Index">Feedback Table</a>
                        <h6 class="collapse-header">Contact Manage:</h6>
                        <a class="collapse-item" href="/Admin/Contact/Index">Contact Table</a>
                        <a class="collapse-item" href="/Admin/Contact/Create">Create Contact</a>
                        <h6 class="collapse-header">footer Manage:</h6>
                        <a class="collapse-item" href="/Admin/Footer/Index">Footer Table</a>
                        <a class="collapse-item" href="/Admin/Footer/Create">Create Footer</a>

                        <h6 class="collapse-header">Orther Manage:</h6>
                        <a class="collapse-item" href="/Admin/User/ErrorPage">404 Page</a>

                        <a class="collapse-item " href="/">Customer Page</a>
                        
                    </div>
                </div>
            </li>
            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="/Admin/Home/Blank">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Blank page for chart</span>
                </a>
            </li>
            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/Admin/User/Index">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Table Users</span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">@RenderSection("header", required: false)</h1>
                        </div>
                    </div>
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
           
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    
    <!-- Bootstrap core JavaScript-->

    <script src="/assets/admin/vendor/jquery/jquery.min.js"></script>
    
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script src="/assets/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->

    <script src="/assets/admin/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/assets/admin/js/plugins/ckeditor/ckeditor.js"></script>
    <script src="/assets/admin/js/plugins/ckfinder/ckfinder.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/assets/admin/js/sb-admin-2.min.js"></script>
    @RenderSection("jsFooter", required: false) <!--Xuất ra footer theo từng trang, với yêu cầu bắt buộc là không-->
</body>
</html>
